/* ===================================================== */
/* ================= Kraimoz Developer ================= */
/* ===================================================== */
/* ===================================================== */
/* ================= Kraimoz Developer ================= */
/* ===================================================== */
section.grid .left-side article {
  padding: 10px 10px;
  color: white;
  text-align: justify;
  font-size: 110%; }
  section.grid .left-side article h3.title-article {
    color: #ffab40;
    text-align: center;
    font-size: 350%;
    font-weight: 500; }
  section.grid .left-side article h4.subtitle-article {
    color: #ffab40;
    text-align: center; }
  section.grid .left-side article p img {
    max-width: 100%; }
  section.grid .left-side article pre {
    font-size: 0.9em; }
  section.grid .left-side article a {
    word-wrap: break-word; }
  section.grid .left-side article blockquote {
    background: #393939;
    border-left: 5px solid #ffab40;
    font-size: 100%;
    font-style: italic;
    color: #D5D5D5;
    padding-left: 2rem !important; }
  section.grid .left-side article p code {
    border: 1px solid #272822;
    background: #393939;
    padding: 3px;
    border-radius: 3px;
    font-size: 14px;
    border-radius: 3px;
    padding: 3px 11px;
    font-size: 100%;
    margin: 0 4px; }
  section.grid .left-side article pre {
    background: #272822;
    padding: 1em; }
  section.grid .left-side article table {
    border: 1px solid #393939; }
    section.grid .left-side article table thead {
      color: #ffab40; }
    section.grid .left-side article table th {
      border: 1px solid #393939; }
    section.grid .left-side article table td {
      border: 1px solid #393939; }
    section.grid .left-side article table tr:nth-child(2n) {
      background-color: #393939; }
    section.grid .left-side article table code {
      border: 1px solid #272822;
      background: #393939;
      padding: 3px;
      border-radius: 3px;
      font-size: 14px;
      border-radius: 3px;
      padding: 3px 11px;
      font-size: 100%;
      margin: 0 4px; }
section.grid .left-side .tag-article {
  padding: 10px 10px; }
  section.grid .left-side .tag-article a {
    color: #ffab40;
    display: inline-block;
    border: 1px solid #272822;
    margin-right: 5px;
    padding: 8px 15px;
    margin-bottom: 10px; }
section.grid .left-side .author-article {
  text-align: right; }
  section.grid .left-side .author-article span {
    margin-right: 20px; }
  section.grid .left-side .author-article .chip {
    border-radius: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    background-color: #393939; }
    section.grid .left-side .author-article .chip img {
      height: 50px;
      width: 50px;
      margin: 0 -12px 0 8px;
      float: right; }
    section.grid .left-side .author-article .chip a {
      color: #ffab40; }
  section.grid .left-side .author-article .chip:hover {
    background-color: white;
    transition: 0.5s; }
    section.grid .left-side .author-article .chip:hover a {
      color: #F16528;
      transition: 0.5s; }

@media only screen and (max-width: 993px) {
  section.grid .left-side article {
    padding: 10px 0; }
    section.grid .left-side article .author-article {
      text-align: center; }
  section.grid .left-side .tag-article {
    padding: 10px 0; } }
@media only screen and (max-width: 1200px) {
  .container {
    width: 85% !important; } }
@media only screen and (max-width: 767px) {
  .container {
    width: 95% !important; } }

/*# sourceMappingURL=article.css.map */
