/* ===================================================== */
/* ================= Kraimoz Developer ================= */
/* ===================================================== */

@import _colors

.left-side 

    .card
        box-shadow: none
        
        .img-header
            width: 160px !important
            
        .card-article
        
            .card-content
                padding: 0
                max-height: 300px
                
                a 
                    color: white
                    
                a:hover 
                    color: #b2b2b
                    
                h4
                    font-weight: bold
                    font-size: 250%
                
                .date-badge
                
                    a
                        color: $c_ambar !important
                
                    .badge
                        margin: 0 15px
                        height: 27px
                        font-size: 100%
                        
                        p
                            text-align: center !important
                            
            .truncate
                max-width: 100%
                display: -moz-box
                
        .card-article, .card-image 
            background-color: $c_black_l !important
            color: white
            
        .row
            margin-bottom: 0
                    
        hr
            margin-top: 15px
            border-top: none
            
    /*BUTTON MORE CONTENT*/
    .button-more 
        text-align: center
    

    .button-more a 
        margin-top: 20px !important
    