
body {
    padding: 0;
    margin: 0;
    /*background-color: #2B2B2B;*/
    /*font-family: "Raleway",Arial,sans-serif;*/
    /*font-family: "Source Sans Pro",sans-serif;*/
    background: #2c2d28 none repeat scroll 0 0;
    font-family: 'Quicksand', sans-serif;
}

/*body, input, textarea, select {
	font-size: 12pt;
	font-weight: 300;
	line-height: 1.75em;
}*/

/*a { text-decoration:none; } 
a:link { text-decoration:none; }
a:visited { text-decoration:none; }
a:active, a:focus { outline: none !important; }
a:hover { text-decoration: none !important; }*/

nav {
    background-color: #F16528 !important;
}

.left-side .img-header {
    width: 160px !important;
}

.left-side .card .card-content {
    padding: 0 !important;
    max-height: 300px;
}

.left-side .card .card-content a { color: white; }

.left-side .card .card-content a:hover { color: #b2b2b2; }

.left-side .card .card-content h4 { 
    font-weight: bold;
    font-size: 250%;
}

.left-side .card hr {
    margin-top: 15px;
}
/*.left-side .card .card-content p {
    height: 50px;
}*/

.left-side .card .card-content span.badge {
    margin: 0 15px;
    height: 27px;
    /*text-align: center !important;*/
}

.left-side .card .card-content span.badge p{
    text-align: center !important;
}

.left-side .card-article, .card-image {
    background-color: #393939 !important;
    color: white;
}

.left-side .card-article .row {
    margin-bottom: 0;
}

.left-side .date-badge span{
    font-size: 120%;
    margin: 0;
}

.left-side .date-badge span.badge.new { font-size: 100%; }

.hoverable {     -webkit-box-shadow: 0 1px 1px 0 #a1acbd;
    box-shadow: 0 1px 2px 0 #a1acbd; }

footer { background-color: #23241f !important; }

/*Responsive*/
/*Extra small devices (portrait phones, less than 576px)*/
/*@media (max-width: 575px) {  }*/

/*// Small devices (landscape phones, 576px and up)*/
/*@media (min-width: 576px) and (max-width: 767px) {  }*/

/*// Medium devices (tablets, 768px and up)*/
/*@media (min-width: 768px) and (max-width: 991px) {  }*/

/*// Large devices (desktops, 992px and up)*/
/*@media (min-width: 992px) and (max-width: 1199px) {  }*/

/*// Extra large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) {  }*/


/*@media (min-width: 576px) and (max-width: 767px) {
    
    section.grid { margin-top: 48px; }
    
}*/

@media only screen and (max-width: 576px) {
    
    /*.container { width: 96% !important;}*/
    .brand-logo { 
        width: 90% !important;
        text-align: center;     
    }
    nav {
        position: fixed;
        z-index: 10;
    }
    
    section.grid { margin-top: 45px !important; }
}

@media only screen and (max-width: 993px) {
    
    .container { width: 96% !important;}
    
}