/** { box-sizing: border-box; margin: 0; padding: 0; }*/

body {
    padding: 0;
    margin: 0;
    /*background-color: #2B2B2B;*/
    /*font-family: "Raleway",Arial,sans-serif;*/
    /*font-family: "Source Sans Pro",sans-serif;*/
    background: #2c2d28 none repeat scroll 0 0;
}

/*body, input, textarea, select {
	font-size: 12pt;
	font-weight: 300;
	line-height: 1.75em;
}*/

nav {
    background-color: #F16528 !important;
}

.img-header {
    width: 170px !important;
}

.card-article, .card-image {
    background-color: #393939 !important;
    color: white;
}

footer { background-color: #23241f !important; }

/*Responsive*/
/*Extra small devices (portrait phones, less than 576px)*/
/*@media (max-width: 575px) {  }*/

/*// Small devices (landscape phones, 576px and up)*/
/*@media (min-width: 576px) and (max-width: 767px) {  }*/

/*// Medium devices (tablets, 768px and up)*/
/*@media (min-width: 768px) and (max-width: 991px) {  }*/

/*// Large devices (desktops, 992px and up)*/
/*@media (min-width: 992px) and (max-width: 1199px) {  }*/

/*// Extra large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) {  }*/


/*@media (min-width: 576px) and (max-width: 767px) {
    
    section.grid { margin-top: 48px; }
    
}*/

@media only screen and (max-width: 576px) {
    
    /*.container { width: 96% !important;}*/
    .brand-logo { 
        width: 90% !important;
        text-align: center;     
    }
    nav {
        position: fixed;
        z-index: 10;
    }
    
    section.grid { margin-top: 45px !important; }
}

@media only screen and (max-width: 993px) {
    
    .container { width: 96% !important;}
    
}