@import _colors

header 
    .alert-articles
        background-color: $c_blue-lighten-1
        
        .container
            height: 60px
            color: white
            line-height: 60px
            
            a
                color: black
            a:hover
                text-decoration: underline
                
.add-article
    
    .container .row
        margin-left: inherit
        margin-right: inherit
    
    .form-wrapper
        background-color: $c_black_l
        color: white
        
        button
            margin-right: 20px
            
        form 
            padding-top: 20px
            
            h5
                margin-left: 10px
                font-size: 150%
            
            //Tab 1
            ol#selectable
                height: 120px
                overflow: scroll
                background: $c_black_d
                padding: 0
                
                
                li 
                    // border: 1px solid green
                    width: 90px
                    height: 90px
                    display: inline-block
                    padding: 2px
                    text-align: left !important
                    
                    img
                        max-width: 100%
                        // height: 100
            
            ol#selectable .ui-selected
                background-color: $c_ambar
                
            //Tab 2
            .tabs
                background-color: $c_black-lighten-2
                
                li
                    a
                        color: $c_ambar
                
                li.indicator
                    background-color: $c_ambar
                
                li a:hover
                    color: #ff6d00
    
    #test-editormd
        z-index: 1
        width: 100% !important
    
        li.divider
            overflow: inherit
            
        input,select
            display: inline
            color: #999
            padding: 3px 8px
            border: 1px solid #ddd
            width: auto
            height: inherit
            
        .editormd-dialog
            min-width: 400px !important   
            
        .editormd-fullscreen
            z-index: 9
            
        .editormd-form input[type="text"]
            display: inline-block
            width: 264px !important

        .editormd-form input[type="text"], .editormd-form input[type="number"] 
            color: #999
            padding: 8px
            border: 1px solid #ddd

        .editormd-form label 
            float: left
            display: block
            width: 75px
            text-align: left
            padding: 7px 0 15px 5px
            margin: 0 0 2px
            font-weight: normal
            
        input:not([type]), input[type=text]:not(.browser-default), input[type=number]:not(.browser-default)
            width: auto
            height: auto
            margin: inherit

    .loading
        // border: 1px solid red
        clear: both
        text-align: center
        display: none
        
        // img
            // height: 150px